<footer>
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-13">
        <p>
          <span><strong>Website thuộc quyền sỡ hữu:</strong></span>
        </p>
        <p>
          <span>Mô hình Figure - Shop mô hình H&T giá rẻ</span>
        </p>
        <p>
          <span>Email: shopht@gmail.com</span>
        </p>
      </div>
    </div>
  </div>
</footer>
